

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App {
  text-align: center;
  width: 5%;
  margin: 15px auto;
}


.container-drag {
  text-align: center;
}

.readyItem {
  position: center;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10px;
  padding: 10px;
  background-color: rgb(207, 207, 207);
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding:0;
  width: 100%;
  background-color: #e0e0e0;
  width: 100%;
}

.task-header {
display: inline-block;
width: 100%;
padding: 0;
}

.droppable {
  position: absolute;
  top: 300px;
  left:850px;
  width: 650px;
  height: 350px;
  z-index: 999;
  right: 0;
  top: 10;
  padding: 10px;
}  

.draggable {
  width: 150px;
  height: 150px;
  margin: 5px auto;
  line-height: 5em;
}

#banana {
  background-image: url('./components/image/cartoonyBananas.png');
  background-repeat: no-repeat;
}

#burger {
  background-image:url('./components/image/hamburger.png');
  background-repeat: no-repeat;
}

#lolli {
  background-image: url('./components/image/lollipop.png');
  background-repeat: no-repeat;
}

