@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.App {
  text-align: center;
  width: 5%;
  margin: 15px auto;
}


.container-drag {
  text-align: center;
}

.readyItem {
  position: center;
  width: 150px;
  left: 0;
  margin-top: 10px;
  padding: 10px;
  margin-left: 30px;
}

.readyItem:hover {
  cursor: pointer;
}

.header {
  display: inline-block;
  margin: 0;
  padding:0;
  width: 100%;
  padding-top: 30px;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
}

.task-header {
display: inline-block;
width: 100%;
padding: 0;
}

/* #dragMe {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
} */

.droppable {
  position: absolute;
  top: 300px;
  left:850px;
  width: 650px;
  height: 350px;
  z-index: 999;
  right: 0;
  top: 10;
  padding: 10px;
}

.draggable {
  width: 80px;
  height: 80px;
  margin: 5px auto;
  line-height: 5em;
}

#banana {
  background-image: url('../../components/image/banana.png');
  background-repeat: no-repeat;
  width: 50%;
}

#banana:hover, #banana:focus, #banana:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#hotdog {
  background-image:url('../../components/image/hotdog.png');
  background-repeat: no-repeat;
  width: 50%;
}

#hotdog:hover, #hotdog:focus, #hotdog:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#coffee {
  background-image: url('../../components/image/coffee.png');
  background-repeat: no-repeat;

  width: 50%;
}

#coffee:hover, #coffee:focus, #coffee:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#fish {
  background-image: url('../../components/image/fish.png');
  background-repeat: no-repeat;
  width: 80%;
}

#fish:hover, #fish:focus, #fish:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#leaves {
  background-image: url('../../components/image/leaves.png');
  background-repeat: no-repeat;
  width: 80%;
}

#leaves:hover, #leaves:focus, #leaves:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#shrimp {
  background-image: url('../../components/image/shrimp.png');
  background-repeat: no-repeat;
  width: 70%;
}

#shrimp:hover, #shrimp:focus, #shrimp:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#steak {
  background-image: url('../../components/image/steak.png');
  background-repeat: no-repeat;
  width: 60%;
}

#steak:hover, #steak:focus, #steak:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#watermelon {
  background-image: url('../../components/image/watermelon.png');
  background-repeat: no-repeat;
  width: 80%;
}

#watermelon:hover, #watermelon:focus, #watermelon:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
