.App {
  text-align: center;
  width: 5%;
  margin: 15px auto;
}


.container-drag {
  text-align: center;
}

.readyItems {
  position: center;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10px;
  padding: 10px;
  background-color: grey;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding:0;
  width: 100%;
  background-color: #e0e0e0;
  width: 100%;
}

.task-header {
display: inline-block;
width: 100%;
padding: 0;
}

.droppable {
  position: absolute;
  top: 27px;
  width: 150px;
  height: 100vh;
z-index: 999;
  right: 0;
  top: 10;
  padding: 10px;

  border: 1px solid;
}

.draggable {
  width: 150px;
  height: 150px;
  margin: 5px auto;
  line-height: 5em;
}
