@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

.App {
  text-align: center;
  width: 5%;
  margin: 15px auto;
}


.container-drag {
  text-align: center;
}

.readyItem {
  position: center;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10px;
  padding: 10px;
  margin-left: 30px;
  background-color: rgb(207, 207, 207);
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding:0;
  width: 100%;
  /* background-color: #e0e0e0; */
  width: 100%;
  font-family: 'Homemade Apple', cursive;
  font-size: 3rem;
}

.task-header {
display: inline-block;
width: 100%;
padding: 0;
}

#dragMe {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
}

.droppable {
  position: absolute;
  top: 300px;
  left:850px;
  width: 650px;
  height: 350px;
  z-index: 999;
  right: 0;
  top: 10;
  padding: 10px;
}

.draggable {
  width: 150px;
  height: 150px;
  margin: 5px auto;
  line-height: 5em;
}

#banana {
  background-image: url('../../components/image/banana.png');
  background-repeat: no-repeat;
  height: 10%;
  width: 50%;
}

#hotdog {
  background-image:url('../../components/image/hotdog.png');
  background-repeat: no-repeat;
  height: 10%;
  width: 50%;
}

#coffee {
  background-image: url('../../components/image/coffee.png');
  background-repeat: no-repeat;
  height: 10%;
  width: 50%;
}

#fish {
  background-image: url('../../components/image/fish.png');
  background-repeat: no-repeat;
  height: 10%;
  width: 80%;
}

#leaves {
  background-image: url('../../components/image/leaves.png');
  background-repeat: no-repeat;
  height: 13%;
  width: 80%;
}

#shrimp {
  background-image: url('../../components/image/shrimp.png');
  background-repeat: no-repeat;
  height: 10%;
  width: 70%;
}

#steak {
  background-image: url('../../components/image/steak.png');
  background-repeat: no-repeat;
  height: 10%;
  width: 60%;
}

#watermelon {
  background-image: url('../../components/image/watermelon.png');
  background-repeat: no-repeat;
  height: 10%;
  width: 100%;
}
