@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body{
	margin:0;
	background-color: #ffecc6;
}
*{
	box-sizing: border-box;
}
.book-section{
	height: 100vh;
	width: 100%;
	padding: 40px 0;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 10%;
}
.book-section > .container{
	height: 400px;
	width: 1250px;
	transform: translateX(-50%);
	border-radius: 2%;
	margin-bottom: 30px;
	perspective: 1200px;
}
.container > .right{
	position: absolute;
	height: 100%;
	width: 50%;
	transition: 0.7s ease-in-out;
	transform-style: preserve-3d;
}
.book-section > .container > .right{
	right:0;
	transform-origin: left;
	border-radius: 10px 0 0 10px;
}
.right > figure.front, .right > figure.back{
	margin: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	left:0;
	top:0;

	background-repeat: no-repeat;
	backface-visibility: hidden;
	background-color: white;
	overflow: hidden;
}
.right > figure.front{
	background-position: right;
	border-radius: 0 10px 10px 0;
	box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.2);
}
.right > figure.back{
	background-position: left;
	border-radius: 10px 0 0 10px;
	box-shadow: -2px 2px 15px -2px rgba(0,0,0,0.2);
	transform: rotateY(180deg);
}
.flip{
	transform: rotateY(-180deg);
}
.flip::before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
	width: 100%;
	height: 100%;
	border-radius: 0 10px 10px 0;
	background-color: rgba(0,0,0,0.1);
}
.turnbtn{
	border: 2px solid #ef9f00;

	background-color: transparent;
	color: #ef9f00;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
	transition: 0.3s ease-in-out;
	position: relative; 
	right: 5%;
}
.book-section > button:focus, .book-section > button:active{
	outline: none;
}
.book-section > p{
	color: rgba(0,0,0,0.7);
	font-family: calibri;
	font-size: 24px;
}
.book-section > p > a{
	text-decoration: none;
	color: #ef9f00;
}
.book-section > button:hover{
	background-color: #ef9f00;
	color: #fff;
}
.front#cover, .back#back-cover{
	background-color: #ffcb63;
	font-family: calibri;
	text-align: center;
	/* padding: 0 30px; */
}
/* .front#cover h1{
	color: #fff;
} */
/* .front#cover p{
	color: rgba(0,0,0,0.8);
	font-size: 14px;
} */

.gif1 {
	height: 400px;
	width: 550px;
}

.btncontainer {
 	position: relative;
 	right: 45%;
 	text-align: center;

}

#coverText {
	position: absolute;
	text-align: center;
	top: 30px;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-size: 3.5rem;
	font-weight: bold;
}

#indexText {
	position: absolute;
	text-align: center;
	top: 10px;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 20px;
}

#entranceLeftText {
	position: absolute;
	text-align: center;
	bottom: 80px;
	/* left: 30px; */
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#entranceRightText {
	position: absolute;
	text-align: center;
	top: 20px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#monkeyLeftText {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#monkeyRightText {
	position: absolute;
	text-align: center;
	bottom: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#flamingoRightText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#flamingoLeftText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#leopardRightText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#leopardLeftText {
	position: absolute;
	text-align: center;
	bottom: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#penguinRightText {
	position: absolute;
	text-align: center;
	bottom: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#penguinLeftText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#lionRightText {
	position: absolute;
	text-align: center;
	bottom: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#lionLeftText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#parrotRightText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#parrotLeftText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#endpageRightText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}

#endpageLeftText {
	position: absolute;
	text-align: center;
	top: 0;
	right: 220px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.50),
        rgba(255, 255, 255, 0)
    );
}
