.container {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42rem;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center center;
}

#indexText {
    font-size: 2rem;
    font-family: 'Fredericka the Great', cursive;
    padding: 30px;
	background: 
    radial-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
    );
}

#nametext {
    width: 50%;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    text-align: center;
}

#submit {
    width: 30%;
    padding: 10px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}

